
@{
    Layout = null;
}


<!DOCTYPE html>
<!--[if IE 8]> <html lang="cn" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="cn">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>用户页</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <link href="~/css/jquery-ui.min.css" rel="stylesheet">

</head>
<body class="pace-top bgm-white">


    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
</body>
</html>