
<!DOCTYPE html>
<!--[if IE 8]> <html lang="cn" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="cn">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>用户页</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet">
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <link href="~/css/index.css" rel="stylesheet" />
    <style>
        .addTypeId {
            width: 60%;
            display: inline-block;
            margin-left: 0;
        }

        .addSub_btn {
            float: right;
        }
    </style>
</head>
<body>

    <ul class="layui-nav header">
        <li class="searchLi">
            <input class="searchInput" type="text" name="search" value="" />
            <button class="layui-btn layui-btn-normal">搜索</button>
        </li>
        @*<li class="layui-nav-item">
                <a href="">控制台<span class="layui-badge">9</span></a>
            </li>*@
        <li class="layui-nav-item">
            <a href="~/Home/mine">个人中心</a>
        </li>
        <li class="layui-nav-item">
            <a href=""><img src="//t.cn/RCzsdCq" class="layui-nav-img">我</a>
            <dl class="layui-nav-child">
                <dd><a href="/Home/logon">退了</a></dd>
            </dl>
        </li>
    </ul>
    <div class="body">
        <ul>
            <li class="itemBody">
                <ul class="layui-nav layui-nav-tree leftList" lay-filter="test">
                    <!-- 侧边导航: <ul class="layui-nav layui-nav-tree layui-nav-side"> -->

                    <li class="layui-nav-item"><a href="~/Home/adminindex">用户管理</a></li>
                    <li class="layui-nav-item"><a href="~/Home/book">书籍推荐</a></li>
                    <li class="layui-nav-item"><a href="~/Home/movies">视频推荐</a></li>
                </ul>
            </li>
            <li class="itemBody centerBody">


                <div id="show">
                    <form class="layui-form" action="">
                        <div class="layui-form-item">
                            <div class="layui-form-item">
                                <label class="layui-form-label">添加电影</label>
                                <div class="layui-input-block addTypeId">
                                    <input type="file" name="" placeholder="" autocomplete="off" class="layui-input addMovie">

                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-form-item">
                                <label class="layui-form-label">添加名称</label>
                                <div class="layui-input-block addTypeId">
                                    <input type="text" name="MovieName" placeholder="请输入添加名称" autocomplete="off" class="layui-input addMovieName">

                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-form-item">
                                <label class="layui-form-label">添加简介</label>
                                <div class="layui-input-block addTypeId">
                                    <input type="text" name="MovieDesc" placeholder="请输入添加简介" autocomplete="off" class="layui-input addMovieIntroduce">

                                </div>
                            </div>
                        </div>
                        <p>
                            <button type="button" class="layui-btn sub_btn">发表</button>
                        </p>
                    </form>
                    <table class="itemShowCount" id="itemShowCount" lay-filter="itemShowCount">
                        <thead>
                            <tr>
                                @*<th lay-data="{field:'experience'}">书籍名称</th>
                                    <th lay-data="{field:'sign'}">书籍图片</th>
                                    <th lay-data="{field:'date'}">书籍Id</th>
                                    <th lay-data="{field:'info', width:100}">功能</th>*@
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </li>
            <li class="itemBody itemR">
                <div class="layui-carousel" id="test1">
                    <div carousel-item class="imgShow">
                        <div class="itemImgBook">
                            <img src="~/assets/img/book1.jpg" alt="Alternate Text" />
                        </div>
                        @*<div class="itemImgBook">
                                <img src="~/assets/img/book2.jpg" alt="Alternate Text" />
                            </div>*@
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/js/public.js"></script>
    <script src="~/js/GetRecommendedBooks.js"></script>

    <script src="~/js/jquery-form-ajax.js"></script>
    <script>
        $(function () {
            $(".sub_btn").click(function () {
                console.log("***************");
                var $form = $(this).parents("form");
                $.nemoajax({
                    url: "../User/AddUserMovie",
                    method: "GET",
                    form: $form,
                    contentType: false,
                    processData: false,//避免对formData序列化处理
                    dataType: "json",
                    success: function (reData) {
                        console.log(reData);
                        window.location.href = '../Intelligence/Intelligence_setting';
                    },
                    error: function (reData) {
                        console.log(reData);
                    }
                }).SendWithFile();
            });
            //function submit1(opt) {
               
            //}
        })
    </script>
    @*<script src="~/js/SearchFriends.js"></script>*@
</body>
</html>