
<!DOCTYPE html>
<!--[if IE 8]> <html lang="cn" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>用户页</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />

    <link href="~/Content/jquery-ui.min.css" rel="stylesheet">
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />

    <link href="~/css/index.css" rel="stylesheet" />
    <link href="~/css/Schedule.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>

    @*<script src="~/Scripts/summernote-lite.js"></script>*@
</head>
<body>

    <ul class="layui-nav header">
        <li class="searchLi">
            <input class="searchInput" type="text" name="search" value="" />
            <button class="layui-btn layui-btn-normal">搜索</button>
        </li>
        @*<li class="layui-nav-item">
                <a href="">控制台<span class="layui-badge">9</span></a>
            </li>*@
        <li class="layui-nav-item">
            <a href="~/Home/mine">个人中心</a>
        </li>
        <li class="layui-nav-item">
            <a href=""><img src="//t.cn/RCzsdCq" class="layui-nav-img">我</a>
            <dl class="layui-nav-child">
                <dd><a href="javascript:;">修改信息</a></dd>
                <dd><a href="javascript:;">安全管理</a></dd>
                <dd><a href="javascript:;">退了</a></dd>
            </dl>
        </li>
    </ul>
    <div class="body">
        <ul>
            <li class="itemBody">
                <ul class="layui-nav layui-nav-tree leftList" lay-filter="test">
                    <!-- 侧边导航: <ul class="layui-nav layui-nav-tree layui-nav-side"> -->

                    <li class="layui-nav-item"><a href="~/Home/index">学习心得</a></li>
                    <li class="layui-nav-item"><a href="~/Home/Friends">学友管理</a></li>
                    <li class="layui-nav-item"><a href="~/Home/Notebook">笔记本</a></li>
                    <li class="layui-nav-item"><a href="~/Home/Schedule">学习日程提醒</a></li>
                    <li class="layui-nav-item"><a href="~/Home/Vocabulary">词汇短语语法管理</a></li>
                </ul>
            </li>
            <li class="itemBody centerBody">

                <div class="comment">
                    <div id="summernote"></div>
                    <div class="formDiv"><button type="button" class="layui-btn layui-btn-normal studyNotesBtn">提交</button></div>
                </div>
                <div id="show">
                    <ul class="one"></ul>
                </div>
            </li>
            <li class="itemBody itemR">
                <div class="layui-carousel" id="test1">
                    <div carousel-item>
                        <div class="itemImgBook">
                            <img src="~/assets/img/book1.jpg" alt="Alternate Text" />
                        </div>
                        <div class="itemImgBook">
                            <img src="~/assets/img/book2.jpg" alt="Alternate Text" />
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <script src="~/Scripts/layui/layui.js"></script>
    <script src="~/Scripts/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.qqFace.js"></script>
    @*https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    @*https://code.jquery.com/jquery-3.2.1.slim.min.js*@
    <script src="~/Scripts/jquery-3.3.1.slim.js"></script>
    @*https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js*@
    <script src="~/Scripts/popper.min.js"></script>
    @*https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js*@
    <script src="~/Scripts/bootstrap.min.js"></script>
    @*https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.css*@
    <link href="~/css/summernote-bs4.css" rel="stylesheet" />
    @*https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.js*@
    <script src="~/Scripts/summernote-bs4.js"></script>
    <script src="~/js/Schedule.js"></script>
    <script src="~/js/public.js"></script>

</body>
</html>