
<!DOCTYPE html>
<!--[if IE 8]> <html lang="cn" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="cn">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>用户页</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet">
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <link href="~/css/index.css" rel="stylesheet" />
    <link href="~/css/friends.css" rel="stylesheet" />
</head>
<body>

    <ul class="layui-nav header">
        <li class="searchLi">
            <input class="searchInput" type="text" name="search" value="" />
            <button class="layui-btn layui-btn-normal">搜索</button>
        </li>
        @*<li class="layui-nav-item">
                <a href="">控制台<span class="layui-badge">9</span></a>
            </li>*@
        <li class="layui-nav-item">
            <a href="">个人中心</a>
        </li>
        <li class="layui-nav-item">
            <a href=""><img src="//t.cn/RCzsdCq" class="layui-nav-img">我</a>
            <dl class="layui-nav-child">
                <dd><a href="javascript:;">修改信息</a></dd>
                <dd><a href="javascript:;">安全管理</a></dd>
                <dd><a href="javascript:;">退了</a></dd>
            </dl>
        </li>
    </ul>
    <div class="body">
        <ul>
            <li class="itemBody">
                <ul class="layui-nav layui-nav-tree leftList" lay-filter="test">
                    <!-- 侧边导航: <ul class="layui-nav layui-nav-tree layui-nav-side"> -->

                    <li class="layui-nav-item"><a href="~/Home/index">学习心得</a></li>
                    <li class="layui-nav-item"><a href="~/Home/Friends">学友管理</a></li>
                    <li class="layui-nav-item"><a href="~/Home/Notebook">笔记本</a></li>
                    <li class="layui-nav-item"><a href="~/Home/Schedule">学习日程提醒</a></li>
                    <li class="layui-nav-item"><a href="~/Home/Vocabulary">词汇短语语法管理</a></li>
                </ul>
            </li>
            <li class="itemBody centerBody">

                <div class="comment">
                    <ul>
                        <li class="friendsList">
                            <div class="userImgDiv">
                                <img class="userImg" src="~/assets/img/headerImg.jpg" alt="Alternate Text" />
                            </div>
                            <p class="itemsP">张三</p>
                            <p class="itemsP">男</p>
                            <p class="itemsP">清华大学</p>
                            <div>
                                <button type="button" class="layui-btn layui-btn-normal"><i class="layui-icon">&#xe654;</i>添加</button>
                            </div>
                        </li>
                    </ul>
                </div>

            </li>
            <li class="itemBody itemR">
                <div class="layui-carousel" id="test1">
                    <div carousel-item>
                        <div class="itemImgBook">
                            <img src="~/assets/img/book1.jpg" alt="Alternate Text" />
                        </div>
                        <div class="itemImgBook">
                            <img src="~/assets/img/book2.jpg" alt="Alternate Text" />
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/js/public.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.qqFace.js"></script>
    <script>
        //注意：导航 依赖 element 模块，否则无法进行功能性操作
        layui.use('element', function () {
            var element = layui.element;

            //…
        });



        layui.use('carousel', function () {
            var carousel = layui.carousel;
            //建造实例
            carousel.render({
                elem: '#test1'
                , width: '100%' //设置容器宽度
                , arrow: 'none' //始终显示箭头
                //,anim: 'updown' //切换动画方式
            });
        });

    </script>

</body>
</html>